{% extends "core_layout.html" %}
{% load static %}

{% block title %}{{topic.topic}} Research{% endblock title %}

{% block head %}
    <link rel="stylesheet" href="{% static 'research_core/css/research_topic.css' %}">
{% endblock head %}

{% block body %}
<div>

    <div class="main_header">
        <h1>{{topic.topic}}</h1>
        <p>{{topic.topic_description}}</p>
    </div>
    <div>
        {% if calendar_heatmap %}
        {{calendar_heatmap|safe}}
        {% endif %}    
    </div>    
    <div class="grid">
        <div class="grid_col">
            <u><h3>Top 3 {{topic.topic}} Authors</h3></u>
            <ul>
                {% for author in most_read_authors %}  
                    {% if author.middlename != 'None' %}
                    <li><h4>{{author.firstname}} {{author.lastname}} - <a href="{{author.publisher.url}}">{{author.publisher.title}}</a> ({{author.num_sources}})</h4></li>
                    {% else %}
                    <li><h4> {author.firstname}} {{author.middlename}} {{author.lastname}} - <a href="{{author.publisher.url}}">{{author.publisher.title}}</a> ({{author.num_sources}})</h4></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        <div class="grid_col">
            <u><h3>Top 3 {{topic.topic}} Publishers</h3></u>
            <ul>
                {% for publisher in most_read_publishers %}
                <li><a href="{{publisher.url}}"><h4>{{publisher.title}}</a> ({{publisher.num_sources}})</h4></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="sources_read">
        {% for source in page_obj %}
        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-4">
                    <img class="img-fluid rounded-start" src="{{source.thumbnail.url}}" alt="{{source.topic.topic_img.url}}">
                </div>
                <div class="col-md-8">
                    
                    <div class="card-header">
                        <span>
                            {% for author in source.authors.all %}
                            <button class="btn btn-dark btn-sm" type="button">{{author.firstname}} {{author.lastname}}</button>
                            {% endfor %}
                            <div style="float: right;">
                                
                                {% if source.publisher.publisher_color %}
                                    <button class="btn btn-info btn-sm publisher-btn"
                                    style="--publisher-color: {{source.publisher.publisher_color}};  background-color: var(--publisher-color) !important; border-color: var(--publisher-color) !important;"    
                                    type="button">{{source.publisher}}</button>
                                {% else %}
                                <button class="btn btn-info btn-sm publisher-btn" type="button">{{source.publisher}}</button>
                                {% endif %}

                                {% if source.source_type.source_color %}
                                    <button class="btn btn-secondary btn-sm source-btn" 
                                    style="--source-color: {{source.source_type.source_color}}; background-color: var(--source-color) !important; border-color: var(--source-color) !important;"
                                    type="button">{{source.source_type.source_type}}</button>
                                {% else %}
                                <button class="btn btn-secondary btn-sm source-btn" type="button">{{source.source_type.source_type}}</button>
                                {% endif %}

                            </div>                            
                        </span>
                    </div>
                    
                    <div class="card-body">
                        <a class="invisible-link" href="{% url 'source_page' id=source.id %}"><h3 class="card-title">{{source.title}}</h3></a>
                        <p class="card-text date-section"><small class="text-muted">Read On: {{source.date_read}}</small></p>
                        <p class="card-text date-section"><small class="text-muted">Published On: {{source.date_published}}</small></p>
                        <div>
                        {% with content=source.takeaway|truncatewords:65 %}
                        <p class="card-text source-takeaway">{{ content|safe}}</p>
                        {% endwith %}
                        </div>
                    </div>
                                                                
                </div>
            </div>
        </div>
        {% endfor %}

        <div class="paginations">
            <span class="">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
        
                <span class="">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
        
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>

    </div>
</div>
{% endblock body %}
