{% extends "core_layout.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'research_core/css/research_topic.css' %}">
{% endblock head %}

{% block body %}
<div>

    <div class="main_header">
        <h1>{{topic.topic}}</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum minima, labore excepturi tenetur placeat distinctio nam magni sed, nulla reiciendis, expedita ipsum debitis! Velit ipsa nostrum ut earum magnam fugit.</p>
    </div>
    <div>
        {% if calendar_heatmap %}
        {{calendar_heatmap|safe}}
        {% endif %}    
    </div>    
    <div class="grid">
        <div class="grid_col">
            <u><h3>Top 3 {{topic.topic}} Authors</h3></u>
            <ul>
                {% for author in most_read_authors %}  
                    {% if author.middlename != 'None' %}
                    <li><h4>{{author.firstname}} {{author.lastname}} - <a href="{{author.publisher.url}}">{{author.publisher.title}}</a> ({{author.num_sources}})</h4></li>
                    {% else %}
                    <li><h4> {author.firstname}} {{author.middlename}} {{author.lastname}} - <a href="{{author.publisher.url}}">{{author.publisher.title}}</a> ({{author.num_sources}})</h4></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        <div class="grid_col">
            <u><h3>Top 3 {{topic.topic}} Publishers</h3></u>
            <ul>
                {% for publisher in most_read_publishers %}
                <li><a href="{{publisher.url}}"><h4>{{publisher.title}}</a> ({{publisher.num_sources}})</h4></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="sources_read">
        {% for source in page_obj %}
        <div class="source">
            <h3>{{source.title}}</h3>
            <p>{{source.takeaway}}</p>
            <p>Published on: {{source.date_published}}</p>
            <p> Read on: {{source.date_read}}</p>
            <p>Authors:
                {% for author in source.authors.all %}
                <span>{{author.firstname}}</span>
                <span>{{author.lastname}}</span>
                {% endfor %}
            </p>
            <p>Published by: {{source.publisher}}</p>
            <p>{{source.source_type.source_type}}</p>

        </div>
        {% endfor %}

        <div class="paginations">
            <span class="">
                {% if page_obj.has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                {% endif %}
        
                <span class="">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                </span>
        
                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}">next</a>
                    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                {% endif %}
            </span>
        </div>

    </div>
</div>
{% endblock body %}