{% extends "core_layout.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'research_core/css/research_index.css' %}">
{% endblock head %}

{% block body %}
<div>

    <div class="intro_header">
        <div class="header_h1"><h1>What have I read in {{current_year}}?</h1></div>
        <div class="research-nums-grid">
            <div class="research-grid-col">
                <h1>{{num_sources}}</h1>
                <h3>Sources Read in {{current_year}}</h3>
            </div>
            <div class="research-grid-col">
                {% if sources.count > 0 %}
                    <h1>{{sources.0.topic}}</h1>
                {% else %}
                    <h1>Nothing (lol)</h1>
                {% endif %}
                <h3>Was the Last Topic I read about</h3>
            </div>
        </div>
    </div>
    <div>
        {% if calendar_heatmap %}
        {{calendar_heatmap|safe}}
        {% endif %}    
    </div>
    
    <div class="grid">
        <div class="grid_col">
            <u><h3>Top 3 {{topic.topic}} Authors</h3></u>
            <ul>
                {% for author in most_read_authors %}  
                    {% if author.middlename != 'None' %}
                    <li><h4>{{author.firstname}} {{author.lastname}} - <a href="{{author.publisher.url}}">{{author.publisher.title}}</a> ({{author.num_sources}})</h4></li>
                    {% else %}
                    <li><h4> {author.firstname}} {{author.middlename}} {{author.lastname}} - <a href="{{author.publisher.url}}">{{author.publisher.title}}</a> ({{author.num_sources}})</h4></li>
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
        <div class="grid_col">
            <u><h3>Top 3 {{topic.topic}} Publishers</h3></u>
            <ul>
                {% for publisher in most_read_publishers %}
                <li><a href="{{publisher.url}}"><h4>{{publisher.title}}</a> ({{publisher.num_sources}})</h4></li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <div class="secondary_chart_grids">
        <div class="grid_col">
            {% if source_barchart %}
            {{source_barchart|safe}}
            {% endif %}    
        </div>
        <div class="grid_col">
            TODO: Determine Which Bar Chart Conveys the best Information and Make It
        </div>
    </div>
</div>
{% endblock body %}