{% extends "core_layout.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'research_core/css/site_index.css' %}">
{% endblock head %}

{% block body %}
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">

      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      {% for i in topic_iterator %}
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="{{i}}" aria-label="Slide {{i}}"></button>
      {% endfor %}

    </div>
    <div class="carousel-inner">
      
      <div class="carousel-item active">
        <img src="{{first_topic.topic_img.url}}" class="d-block w-100 carousel-img" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <a class="carousel-link" href="{% url 'research_topic' topic=first_topic.topic %}"><h4>{{first_topic.topic}} Research</h4></a>
          <p>{{first_topic.topic_description|truncatewords:50}}</p>
        </div>
      </div>

      {% for topic in topics %}
      <div class="carousel-item">
        <img src="{{topic.topic_img.url}}" class="d-block w-100 carousel-img" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <a class="carousel-link" href="{% url 'research_topic' topic=topic %}"><h4>{{topic.topic}} Research</h4></a>
          <p>{{topic.topic_description|truncatewords:50}}</p>
        </div>
      </div>
      {% endfor %}
            
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

<div>
    <div class="into-title-div">
        <h1>How do I build ideas? How do I make sure my opinions are reflective of an underlying reality?</h1>
        <p>Sorting through information and becoming informed on complex issues in the world is an incredibly time intensive and difficult process. It involves sorting through the obscene amount of information and perspectives that are now available on almost every topic and distilling this information into a coherent narrative. Searching, aggregating, vetting, fact-checking and synthesizing are all required to truly be informed on any topic that is worth being informed about. I built this site to help me catalogue sources that I read. This site is a personal tool to help me summarize and catalogue my sources, allowing me to see how my understanding develops and where my knowledge of topics are coming from. </p>
        <u><h3>View What I am Actively Researching:</h3></u>
    </div> 
    
    <div class="research-cards">
        <div class="row row-cols-1 row-cols-md-2 g-4">

            <div class="col">
              <a class="card-link" href="{% url 'research_topic' topic=first_topic.topic %}">
              <div class="card">
                <img src="{{first_topic.topic_img.url}}" class="card-img-top card-image-styling" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Readings on {{first_topic.topic}}</h5>
                  <p class="card-text">{{first_topic.topic_description|truncatewords:50}}</p>
                </div>
              </div>
            </a>
            </div>

            {% for topic in topics %}
            <div class="col">
              <a class="card-link" href="{% url 'research_topic' topic=topic%}">
              <div class="card">
                <img src="{{topic.topic_img.url}}" class="card-img-top card-image-styling" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Readings on {{topic.topic}}</h5>
                  <p class="card-text">{{topic.topic_description|truncatewords:50}}</p>
                </div>
              </div>
            </a>
            </div>
            {% endfor %}
        </div>
    </div>   

    <div>
        <div class="into-title-div">
            <u><h3>My Writings, Mostly OP-Eds:</h3></u>
            <p>I do also use this site to host my writings on various topics that interest me in or that I think that I can/should realistically contribute to. The topics that I write about track closely with what I am reading about so in the even that someone else ends up reading my articles they can audit my sources to see where I get my information and perspectives from. If you read an idea that seems esoteric or crazy changes are you’ll be able to find the source of the idea in my readings!</p>
        </div>
        
        <div id="carouselWriting" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner text-center">
              <div class="carousel-item active">
                <div class="carousel-caption d-none d-md-block h-50">
                    <button type="button" class="btn btn-light"><h4>Read My Articles</h4></button>
                  </div>
                <img src="{% static 'research_core/img/blog_carousel.jpg' %}" class="d-block w-100 carousel-img" alt="...">
              </div>
            </div>
          </div>
    </div>
</div>
{% endblock body %}